$red: #ea1538;
$about-black: #191919;
$white: #EEE;

.page-enter-active,
.page-leave-avtive {
    transition: opacity 0.5s ease-in-out;
}

.page-enter,
.page-leave-to {
    opacity: 0;
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');