@import '@/assets/scss/colors.scss';
@import '@/assets/scss/main.scss';

.card {
  position: relative;
  width: 450px;
  height: 400px;
  background: url('@/assets/images/kahvalti.jpeg') no-repeat center;
  background-size: cover;
  border-radius: 40px;
  overflow: hidden;
  box-shadow: 0 0 30px 2px rgba(0, 0, 0, 0.25);
  display: grid;
  grid-template-rows: 60% 40%;
  transition: 0.4s;
  &:hover {
    transition: 0.4s;
    transform: scale(1.005);
    z-index: 2000;
  }
}

.location {
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.date {
  color: #fff;
}
.event-info {
  position: relative;
  display: grid;
  grid-template-areas:
    'empty title title'
    'info info action';
  justify-items: center;
  align-items: center;
  grid-gap: 16px;
  padding: 20px;
}

.event-info * {
  position: relative;
}

.title {
  grid-area: title;
  font-size: 1.4em;
  font-weight: bold;
  letter-spacing: 1.5px;
  color: #fff;
  font-size: 24px;
  margin-left: 30px;
  margin-bottom: 60px;
  margin-right: 10px;
}

.additional-info {
  margin-top: 40px;
}

.additional-info p {
  font-size: 0.9em;
  margin-top: 8px;
  letter-spacing: 0.7px;
}

p.info {
  font-size: 20px;
  color: #fff;
}
.button {
  grid-area: action;
  text-decoration: none;
  width: 120px;
  height: 40px;
  color: white;
  text-align: center;
  position: absolute;
  right: 20px;
  bottom: 12px;
  border: 1px solid white;
  border-radius: 20px;
  text-align: center;
}

.price {
  position: absolute;
  top: -20%;
  left: 40px;
  width: 80px;
  height: 80px;
  background-color: #fff;
  color: $red;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.4);
  font-size: 3.5em;
  font-weight: bold;
  letter-spacing: 2px;
}

.event-info::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 110%;
  height: 300%;
  background: linear-gradient(to bottom, $red 0%, $about-black 51%, $red 100%);
  transform: rotate(-8deg);
  border-top-right-radius: 100px;
}

.action {
  border: 1px solid;
  outline: none;
  background-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 0px;
  font-size: 1.1em;
  font-weight: bold;
  letter-spacing: 1.5px;
  transition: background-color 0.3s, color 0.3s;
}

.action:hover {
  background-color: #fff;
  color: $about-black;
}